In [7]:
import pandas as pd
cia = pd.read_csv("https://raw.githubusercontent.com/menawhalen/DSCI_401/refs/heads/main/data/CIACountries.csv")
cia.head() ## 

#teams = pd.read_csv("../../data/Teams.csv")
#print(teams)

,country,pop,area,oil_prod,gdp,educ,roadways,net_users
0,Afghanistan,32564342,652230.0,0.0,1900.0,NaN,0.064624,>5%
1,Albania,3029278,28748.0,20510.0,11900.0,3.3,0.626131,>35%
2,Algeria,39542166,2381741.0,1420000.0,14500.0,4.3,0.047719,>15%
3,American Samoa,54343,199.0,0.0,13000.0,NaN,1.211055,NaN
4,Andorra,85580,468.0,NaN,37200.0,NaN,0.683761,>60%

In [4]:
cia[["country","pop"]].sort_values(by = "pop", ascending = False).head(5)

           country         pop
42           China  1367485388
96           India  1251695584
223  United States   321368864
97       Indonesia   255993674
27          Brazil   204259812

In [8]:
cia[cia.pop > 10000000][["gdp"]].sum()
#cia[cia.pop > 10000000][["gdp"]].agg(["sum"])

TypeError: '>' not supported between instances of 'method' and 'int'

In [ ]:
cia["gdp_per_capita"] = cia["gdp"] / cia["population"]
cia[["country","gdp_per_capita"]].sort_values(by = "gdp_per_capita", ascending = False).head(1)

In [ ]:
cia[cia.net_users == ">35%"][["educ"]].dropna(how="any").agg(["mean"])

In [ ]:
cia[(cia.net_users == ">35%") | (cia.net_users == ">60%")][["educ"]].dropna(how="any").agg(["mean"])

In [ ]:
cia["dens"] = cia["population"]/cia["area"]
cia.head()

In [ ]:
cia[cia.gdp > 10000][["oil_prod"]].agg(["sum"])

In [ ]:
cia["oil"] = cia.oil_prod > 0
cia['area'].groupby(cia['oil']).mean()

In [9]:
import seaborn as sns
penguins = sns.load_dataset("penguins")
print(penguins)

    species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0    Adelie  Torgersen            39.1           18.7              181.0
1    Adelie  Torgersen            39.5           17.4              186.0
2    Adelie  Torgersen            40.3           18.0              195.0
3    Adelie  Torgersen             NaN            NaN                NaN
4    Adelie  Torgersen            36.7           19.3              193.0
..      ...        ...             ...            ...                ...
339  Gentoo     Biscoe             NaN            NaN                NaN
340  Gentoo     Biscoe            46.8           14.3              215.0
341  Gentoo     Biscoe            50.4           15.7              222.0
342  Gentoo     Biscoe            45.2           14.8              212.0
343  Gentoo     Biscoe            49.9           16.1              213.0

     body_mass_g     sex
0         3750.0    Male
1         3800.0  Female
2         3250.0  Female
3            NaN     NaN
4         3450.0  Female
..           ...     ...
339          NaN     NaN
340       4850.0  Female
341       5750.0    Male
342       5200.0  Female
343       5400.0    Male

[344 rows x 7 columns]

In [8]:
penguins.groupby("sex")[["bill_length_mm"]].mean()

NameError: name 'penguins' is not defined

In [ ]:
penguins.groupby(["species","island"])[["body_mass_g"]].max()

In [1]:
#pip install pylahman
import pylahman

Pitching = pylahman.Pitching()
print(Pitching.head())

SyntaxError: invalid syntax (311045316.py, line 1)