### Colab Note

- Adding a New Code Cell Below (Ctrl + M + B)

- Adding a New Text Cell Below (Ctrl + M + M)

## Sets

A **set** is an unordered collection of unique elements in Python.

### Membership Test with Sets

One of their primary advantages is the ability to perform *membership tests* efficiently, checking if a particular element is present in the set. This is done by using the operator `in`. This is used to test whether an element is part of a set (or any collection like lists or dictionaries).

In [ ]:
## add new cell below with ctrl+M+B
#Useful for membership tests
tech_stonks = set(['IBM','AAPL','MSFT'])
'IBM' in tech_stonks

'FB' in tech_stonks

### Duplicate or Elimination

- `set()`: Converts a list (or other iterable) to a set, automatically removing any duplicate entries.
-`add()`: Adds an element to the set. If the element already exists, the set remains unchanged.
- `remove()`: Removes an element from the set. If the element is not found, an error occurs.

In [ ]:
#Sets are useful for duplicate elimination
names = ['Harry','Ron','Hermione','Hagrid','Harry']
print(names)
unique = set(names)
print(unique)
unique.add('Harry')
print(unique)

In [ ]:
#Other set operations
unique.add('Snape')
print(unique)
unique.remove('Hagrid')
print(unique)

### Union, Intersection, and Difference
- The `|` operator performs a union, which means it combines elements from both sets without duplicates.
  - `.union()`: Similar to the `|` operator.
  - `.update()`: Adds elements of one set to another in place, modifying the original set.
- The `&` operator performs an intersection, returning only the elements that both sets share.
- The `-` operator performs a set difference, returning the elements from the first set that do not appear in the second.

In [ ]:
a1 = set(['Bart','Lisa','Maggie','Marge'])
a2 = set(['Bart','Homer','Marge'])
#Union
print('Union:', a1 | a2)
#Intersection
print('Interscetion:',a1 & a2)
#Set difference
print('Set difference:',a1 - a2)
print('Set difference:',a2 - a1)

## Tuples

**Definition**: A tuple is a collection of values grouped together, similar to a list.

The difference between tuples and lists lies in their *mutability*. A *tuple is immutable*, meaning once it is created, you cannot modify its contents. A list, on the other hand, is mutable and can be changed after creation.

You can create a tuple without parentheses, just by separating the values with commas.

In [ ]:
#Can I create a tuple with only commas.
elijah = "goog",45, 45
print(elijah)

### Comparing Tuples and Lists

- Lists are mutable: You can change the value of elements in a list after it's created (as shown by changing `test_list[0]`).
- Tuples are immutable: Attempting to change `test_tuple[0]` would raise an error, because the contents of a tuple cannot be changed after creation.

In [ ]:
test_tuple = ("greg",413)
test_list = ["greg",413]

print(test_list[0])
print(test_tuple[0])

test_list[0] = "steve"
#This will give an error
#test_tuple[0] = "steve"

#print(test_list[0])
#print(test_tuple[0])

### Tuple Types and Strings

String vs. Tuple: If you define a tuple with only one element and forget the trailing comma (as in `("GOOG")`), Python will treat it as a string instead of a tuple. To create a tuple with one element, you must include the trailing comma (`("GOOG",)`).

In [ ]:
#Example
s = ('GOOG',100,490.1)
print(s)

print(type(s))

#Note:
#This is a string
w = ("GOOG")
print(type(w))

#This is a 1-tuple
w = ("GOOG",)
print(type(w))

### Tuple Use and Packing/Unpacking
Tuples are often used to represent **simple records or structures**. Each tuple holds related pieces of information: `contact` represents a help desk, `stock` holds stock information, and `host` contains a web host.

You can access individual elements of a tuple using indexing, just like lists. Here, `name`, `shares`, and `price` are assigned the values from the tuple s based on their respective positions.

In [ ]:
#Tuples are usually used to represent simple records or structures
contact = ('Help Desk','help@luc.edu')
stock = ('GOOG',100,490.1)
host = ('www.python.org',)

#A single "object" with multiple parts

s = ('GOOG', 100, 490.1)
#Unpack a tuple
name = s[0]
shares = s[1]
price = s[2]

print(name)
print(shares)
print(price)

Tuple unpacking allows you to assign values from a tuple to multiple variables in one line. In this case, `name`, `shares`, and `price` directly receive values from the tuple `s`.

In [ ]:
#Alternatively
name,shares,price = s
print(name)
print(shares)
print(price)

### Immunitible but Create a New One

Once a tuple is created, its contents cannot be modified. If you try to change an element in a tuple (e.g., `s[1] = 75`), Python will raise an error.

While you cannot modify a tuple in place, you can create a new tuple by combining parts of the original tuple with new values. In this example, a new tuple is created where the second element (`s[1]`) is updated to `75`.

In [ ]:
#tuples contents can't be modified
s = ('GOOG', 100, 490.1)
#This gives an error
s[1] = 75

In [ ]:
#But you can make a new tuple!
s = (s[0],75,s[2])
s

### Packing

**Packing**: You can group related values into a tuple (this is called packing). In this `case`, `name`, `shares`, and `price` are packed together into the tuple `s`

In [ ]:
#packing tuples
#Tuples are focused more on packing related items together into a single "entity"

s = (name, shares,price)
s

## Dictionaries

**Definition**: A dictionary is a collection of values, where each value is stored with a unique key. The key acts as an identifier for accessing the associated value. Dictionaries are useful when you have many values that need to be modified or manipulated, and where each value is associated with a unique key.

**Declaration**: Dictionaries can be created using either the `dict()` keyword or curly braces `{}`.

In [ ]:
#two ways to decalre a dictionary.
characters = dict()
characters = {}

#Keys serve as filed names
s = {'first':'Harry', 'last':'Potter'}
s

Each key in a dictionary serves as a field name, and you can use these keys to access corresponding values.

In [ ]:
#To get a value, use the key name.
print(s['first'])

print(s['last'])

**Values Cannot Be Referenced by Index**


Unlike lists or tuples, you cannot access values in a dictionary using numerical indices. Keys, not indices, are used for retrieval.

In [ ]:
#Values cannot be referenced as an index value
s[1]

### Adding and Modifying Values

You can add new key-value pairs or modify existing ones by simply assigning a value to a key.

#Adding/modifying values
s['first'] = 'The chosen one'
s['dob'] = 'July 31'
s['dad name'] = "james"
s['mom name'] = "lily"
s

### Deleting Values

You can remove a key-value pair from a dictionary using the `del` statement or the `pop()` method to delete by the key.

In [ ]:
del s['dob']
print(s)

#deleting a key and returning it's value
#It "pops" out of the dictionary.
print(s.pop('first'))
print(s)

### Keys

Keys Can Be Strings, Integers, or Tuples (Composite Keys) - Dictionary keys can be of different types, such as strings, integers, or even tuples.

In [ ]:
#Keys can be strings, integers, tuples (composite keys)
#Examples:
holidays = { (1,1): 'New Years', (3,14): 'Pi Day', (7,11): 'Slurpee Day'}
print(holidays)

holidays = {(1,1): ["New Years","Elijah"], (7,11): ["Slurpee Day","Greg"]}
holidays[1,1][0]


holidays = {(1,1): {"steve":["greg","elijah"]}, (7,11): ["Slurpee Day","Greg"]}
holidays[1,1]["steve"][0]

### Looping through a dictionary

You can loop through a dictionary, where the loop variable represents the keys.

In [ ]:
#The loop variable is the key
employee = {'first_name':'Harry', 'last_name':'Potter', 'dob':"July 31", "pet":'Hedwig','house':'Gryffindor',"school":'Hogwarts','sport':"Quidditch"}
for i in employee:
  print(i)

In [ ]:
#.keys()
employee.keys()

**Membership Testing**: You can check whether a particular key exists in a dictionary using the in keyword.

In [ ]:
#Check to see if a key is in a dictionary
'best_friend' in employee.keys()

You can also print the values associated with each key during a loop.
- `.keys()`: Returns all the keys in the dictionary.
- `.values()`: Returns all the values in the dictionary.

In [ ]:
employee = {'first_name':'Harry', 'last_name':'Potter', 'bod':"July 31", "pet":'Hedwig','house':'Gryffindor',"school":'Hogwarts','sport':"Quidditch"}
for i in employee:
  print(employee[i])

#This is the same thing.
for i in employee.keys():
  print(employee[i])

In [ ]:
#Retrieve the values in a dictionary
employee.values()

for i in employee.values():
  print(i)

### Other Commands
Here are some useful commands for working with dictionaries:

- `len(d)`: Returns the number of key-value pairs in the dictionary.
- `clear()`: Removes all key-value pairs from the dictionary.
- `copy()`: Creates a shallow copy of the dictionary.
- `items()`: Returns a view object that displays the dictionaryâ€™s key-value pairs as tuples.
- `popitem()`: Removes and returns the last inserted key-value pair.
- `get()`: Returns the value for the given key (an alternative to using `d[key]`).

In [ ]:

#len command
#returns the number of key-value pairs
len(employee)

In [ ]:
d = {'one':'greg','two':'matthews','three':'PhD'}
print(d)
d.clear()
d

In [ ]:
d = {'one':'greg','two':'matthews','three':'PhD'}
e = d.copy()
print(e)

In [ ]:
d = {'one':'greg','two':'matthews','three':'PhD'}
d.items()

In [ ]:
d = {'one':'greg','two':'matthews','three':'PhD'}
print(d.pop('one'))
print(d)


d = {'one':'greg','two':'matthews','three':'PhD'}
print(d.popitem())
print(d)

In [ ]:
d = {'one':'greg','two':'matthews','three':'PhD'}
print(d.get('one'))
print(d["one"])

In [ ]:
d = {'first' : 'Hermione', 'last' : 'Granger', 'pet' : "Crookshanks"}
for key, value in d.items():
  print("Key =", key, ", Value =",value)

### Sorting a Dictionary

Dictionaries in Python can be sorted in various ways: by keys, by values, in ascending or descending order, using specific sorting techniques.

You can sort the dictionary based on the values using `operator.itemgetter()`. This approach was more commonly used in earlier Python versions but is still widely applicable.

In [ ]:
d = {"incantations":1,
     "There":1,
     'will': 1,
     'be': 1,
     'no': 1,
     'foolish':1,
     'wand-waving':1,
     'or':1,
     'silly':1,
     'in':3,
     'you': 5}

#print(d)
import operator
#This is how you used to do it.
#Sorted by counts
sorted_d = dict(sorted(d.items(), key = operator.itemgetter(1)))
print(sorted_d)

#Sorted by counts descending
sorted_d = dict(sorted(d.items(), key = operator.itemgetter(1), reverse = True))
print(sorted_d)

In [ ]:
import operator
#Sorted by counts
#What will this return?
sorted_d = dict(sorted(d.items(), key = operator.itemgetter(0)))
print(sorted_d)

#How about this?
sorted_d = dict(sorted(d.items(), key = operator.itemgetter(0), reverse = True))
print(sorted_d)

You can also sort by the keys. Sorting by keys can be useful when you need ordered access to dictionary elements based on the key names.

In [ ]:
#This just sorts the keys and returns only keys
print(sorted(d))

# This sorts on the keys but returns the keys AND values
print(sorted(d.items()))

Instead of using `operator.itemgetter()`, lambda functions provide a more flexible way to specify the sorting logic. You can sort by keys or values depending on the index position.

In [ ]:
#here is how to sort based on the keys
#Notice that I'm using [0]
#The keys are element 0.  The values are element 1.
print(sorted(d.items(), key = lambda kv: kv[0], reverse = True))

In [ ]:
#Here is how to sort based on the values
#Notice that I'm using [1]
#The keys are element 0.  The values are element 1.
#By default in sorts smallest to largest.
#Reverse.....reverses that and sorts largest to smallest.
print(sorted(d.items(), key = lambda kv: kv[1], reverse = True))


**Note on Lambda Functions:** Lambda functions are anonymous functions defined in a single line. In the context of sorting dictionaries, they can target specific elements of key-value pairs, making them highly useful for customization.

In [ ]:
#Note on Lambda:
greg = lambda x: x.upper()
print(greg("stats"))

def greg2(x):
  return x.upper()

### Dictionary of Dictionaries

Just like lists of lists in R, Python supports dictionaries within dictionaries, allowing you to store complex data structures with multiple layers of information. This feature is useful when managing hierarchical or nested data.

**Example of a Dictionary of Dictionaries:**

In this example, characters contains information about three individuals, each represented by their own dictionary that holds attributes like `pet`, `sports`, and `house`.

In [ ]:
#Note: Dictionaries in python are sort of like lists in R.
#You can have a list of lists and you can have dictionaries of dictionaries
characters = {'Harry Potter':{'pet':"Hedwig",'sports':'Quidditch','house':"Gryffindor"},
              'Hermione Granger':{'pet':"Crookshanks",'sports':'Studying','house':"Gryffindor"},
              'Ron Weasley': {'pet':"Scabbers",'sports':'none','house':"Gryffindor"}}

#Call by the keys
print(characters['Harry Potter'])

#Call by two levels
print(characters['Ron Weasley']['pet'])

## Pandas

Pandas is a powerful library in Python designed for data manipulation and analysis.

### Series

A Series is essentially a one-dimensional array-like object that can hold a variety of data types (integers, strings, floats, etc.). It comes with an index, which labels each element in the series.

- The values attribute provides access to the data
- The index attribute shows the index values

In [2]:
import numpy as np
import pandas as pd


#Series
data = pd.Series([0.25, 0.5, 0.75, 1])

data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [ ]:
data.values

In [ ]:
data.index

Accessing data by index:

In [ ]:
print(data[1])
print(data[1:3])

**Custom Indexing**

You can specify custom indices when creating a Series.

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1], index = ['a','b','c','d'])
print(data[1])
print(data['b'])

Indices don't need to be consecutive integers. They can be any values, including negative numbers. Your can also repeat indices.

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1], index = ['b','a','c','d'])
print(data[1])
print(data['b'])

In [ ]:
#Indices don't need to be contiguous elements
data = pd.Series([0.25, 0.5, 0.75, 1], index = [2,3,-6,7])
print(data)
print(data[-6])

#I can repeat indices!  Did you know this????  I did....
data = pd.Series([0.25, 0.5, 0.75, 1], index = [2,5,5,'a'])
print(data[5])

In [ ]:
ac_dict = {'Chicago':312,'Houston':713,'Dallas':214, 'NYC':212,'Altanta':404}
area_codes = pd.Series(ac_dict)

area_codes
print(area_codes.index)

print(area_codes[0])
print(area_codes['Chicago'])
print(area_codes['Chicago':'Dallas'])

In [ ]:
#Constructing series
pd.Series([2,4,6])

#Data can be scalar
pd.Series(5, index = [100,200,300])

#Data can be a dictionary
pd.Series({2:'a',1:'b',3:'c'})

In [ ]:
#can specify index explicitly
pd.Series({2:'a',1:'b',3:'c'}, index = [3,2])
pd.Series({2:'a',1:'b',3:'c'}, index = [1,2,2,2,2])

## Data Frames

A DataFrame is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeled axes (rows and columns). It is the most commonly used Pandas object.

**Creating a DataFrame**

You can create a DataFrame from a dictionary of series:

In [ ]:
area_dict = {'California':423967, "Texas":695662, 'New York':141297, 'Florida':170312,'Illinois':149995}
area = pd.Series(area_dict)
print(area)

In [ ]:
population_dict = {'California':38332521, "Texas":26448193, 'New York':19651127, 'Florida':19552860,'Illinois':12882135}
population = pd.Series(population_dict)
states = pd.DataFrame({'population':population, 'area':area})
print(states)

Access the index and columns attributes to inspect the DataFrame structure:

In [ ]:
states.index

In [ ]:
states.columns

Accessing a single column

In [ ]:
states['population']

Creating a DataFrame from List of Dictionaries

In [ ]:
data = [{'a':i,'b':2+1} for i in range(3)]
pd.DataFrame(data)

**Creating a DataFrame from Numpy Arrays**

You can create a DataFrame using a Numpy array, specifying custom columns and row labels:

In [ ]:
pd.DataFrame(np.random.rand(3, 2), columns=['foo', 'bar'], index=['a', 'b', 'c'])

**Structured DataFrame**

A DataFrame can also be created from a structured Numpy array:

In [ ]:
A = np.zeros(3, dtype = [('A','i8'),('B',"f8")])
print(A)

In [ ]:

print(pd.DataFrame(A))

### Data Indexing and Selection
Pandas provides a wide variety of methods to access, manipulate, and filter data using its powerful indexing capabilities. Understanding how to work with Pandas indices and apply various selection techniques is key to making the most out of data analysis.

Pandas `Index` objects are similar to arrays but have some extra functionality. These indices can be used for selecting rows or columns in a Series or DataFrame.

In [ ]:
ind = pd.Index([2,3,5,7,11])
print(ind)
print(ind[1])      # Access the second element
print(ind[::2])    # Access every other element

You can inspect the properties of an index:

In [ ]:
print(ind.size)    # Number of elements
print(ind.shape)   # Shape of the index
print(ind.ndim)    # Number of dimensions
print(ind.dtype)   # Data type of the index

Once created, indices cannot be modified:

In [ ]:

print(ind)
#can't be modified
#ind[1] = 0

Pandas Index supports set-like operations, such as intersection (`&`), union (`|`), and symmetric difference (`^`):

In [ ]:
indA = pd.Index([1,3,4,5,9])
indB = pd.Index([2,3,5,7,11])
print(indA & indB) #and
print(indA | indB) #or
print(indA ^ indB) #exclusive or symmetric difference

#### Series Indexing and Selection

eries objects support both positional and label-based indexing, similar to how dictionaries work, but with added capabilities.

**Basic Series Indexing**

You can check if a label is in the index and access data via the `keys()` method or by converting the `items()` into a list:

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1], index = ['a','b','c','d'])
print('a' in data)
print(data.keys())
list(data.items())

You can extend a Series by assigning new data to a new index:

In [ ]:
#Extend a series
data['e'] = 1.25
data

Here, grace is a Series where the index is in reverse order:

In [ ]:
grace = pd.Series([0.25, 0.5, 0.75, 1], index = ['d','c','b','a'])
print(grace)
grace['e'] = 5
print(grace)

Slicing by Explicit Index

- When slicing using an explicit label, both the start and end indices are included

- When slicing by integer position, it behaves like typical Python slicing

- You can apply conditions to create masks and filter the data

- You can also select elements based on a list of specific indices

In [ ]:

#Slicing by explicit index
data['a':'c']

In [ ]:
#Slicing by explicit integer index
data[0:2]

In [ ]:
#Slicing by masking
data[(data>0.3) & (data < 0.8)]

In [ ]:

#slicing by fancy indexing
data[['a','e']]

### Selecting with .loc and .iloc and MultiIndexing

In Pandas, there are multiple ways to index and select data from Series and DataFrames. The loc and iloc methods are two of the most important tools for selecting data by labels and by integer positions, respectively.

#### Using .loc for Label-based Selection
.loc is used for selecting data based on labels, and it can handle single labels, slices, or boolean arrays.

Series Selection with .loc

In [ ]:
data = pd.Series(['a','b','c'], index = [1,3,5])
print(data.loc[1])

In [ ]:
print(data.loc[1:3])

#### DataFrame Selection with .loc
.loc can also be used to select rows and columns from a DataFrame by their labels.

Creating a DataFrame Example

In [ ]:
#Data Selection in a dataframe.
area_dict = {'California':423967, "Texas":695662, 'New York':141297, 'Florida':170312,'Illinois':149995}
area = pd.Series(area_dict)
print(area)
population_dict = {'California':38332521, "Texas":26448193, 'New York':19651127, 'Florida':19552860,'Illinois':12882135}
population = pd.Series(population_dict)
states = pd.DataFrame({'population':population, 'area':area})
print(states)

You can use dictionary-style or attribute-style access to select a column from the DataFrame:

In [ ]:
#dictionary style
states['area']

In [ ]:
#attribute style
states.area

Adding a new column for population density

In [ ]:
#Adding a column
states['density'] = states['population']/states['area']
states

In [ ]:
#Dataframe as a 2D array
states.values

Transpose the DataFrame (swap rows and columns):

In [ ]:
#So we can traspose
states.T

#### Using .iloc for Position-based Selection
.iloc is used for selection by position (integer-based indexing).

In [ ]:
#Loc and iloc
states.loc[:'Illinois',:'population']

In [ ]:
states.iloc[:3,:2]

You can also use .loc with boolean arrays to filter data based on conditions

In [ ]:

#Indexing
states.loc[states.density > 100, ['population','density']]

### Working with MultiIndex (Hierarchical Indexing)
A MultiIndex is useful when working with hierarchical data. Pandas allows the creation and manipulation of such indices, which can add extra dimensions to your data.

Creating a MultiIndex

In [ ]:
index = [('CA',2000),('CA',2010),('NY',2000),('NY',2010),('TX',2000),('TX',2010)]

population = [33871648, 37253956, 18976457, 19378102, 20851820, 25145561]

pop = pd.Series(population, index = index)
print(pop)

To formally turn your list of tuples into a MultiIndex

In [ ]:
index = pd.MultiIndex.from_tuples(index)
index

In [ ]:
pop = pop.reindex(index)
pop

You can "unstack" a MultiIndex into a DataFrame, then "stack" it back into a Series:

In [ ]:
pop_df = pop.unstack()
print(pop_df)

In [ ]:
print(pop_df.stack())

Here's a more complex example where we calculate the fraction of the population under 18:

In [ ]:
pop_df = pd.DataFrame({'total':pop, 'under18': [9267089,9284094,4687374,4318033,5906301,6879014]})
pop_df

In [ ]:
f_u18 = pop_df['under18']/pop_df['total']
print(f_u18)

## Reading in Files

In [4]:
cubs  = pd.read_csv("../data/cubs_all_time.csv")
print(type(cubs))
print(type(cubs.Tm))
cubs.head()

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

,Year,Tm,Lg,G,W,L,Ties,W-L%,pythW-L%,Finish,...,Playoffs,R,RA,Attendance,BatAge,PAge,#Bat,#P,Top Player,Managers
0,2022,Chicago Cubs,NL Central,125,54,71,0,0.432,0.436,3rd of 5,...,NaN,518,596,2163550.0,28.1,29.8,57,37,N.Hoerner (4.2),D.Ross (54-71)
1,2021,Chicago Cubs,NL Central,162,71,91,0,0.438,0.421,4th of 5,...,NaN,705,839,1978934.0,29.1,29.4,69,40,W.Contreras (4.1),D.Ross (71-91)
2,2020,Chicago Cubs,NL Central,60,34,26,0,0.567,0.545,1st of 5,...,Lost NLWC (2-0),265,240,NaN,27.9,30.3,47,26,Y.Darvish (2.8),D.Ross (34-26)
3,2019,Chicago Cubs,NL Central,162,84,78,0,0.519,0.558,3rd of 5,...,NaN,814,717,3094865.0,27.7,31.1,52,33,J.Baez (6.6),J.Maddon (84-78)
4,2018,Chicago Cubs,NL Central,163,95,68,0,0.583,0.575,2nd of 5,...,Lost NLWC (1-0),761,645,3181089.0,27.2,30.2,50,35,J.Baez (6.4),J.Maddon (95-68)

In [5]:

#get individual variables
cubs.Tm

0                 Chicago Cubs
1                 Chicago Cubs
2                 Chicago Cubs
3                 Chicago Cubs
4                 Chicago Cubs
                ...
142    Chicago White Stockings
143    Chicago White Stockings
144    Chicago White Stockings
145    Chicago White Stockings
146    Chicago White Stockings
Name: Tm, Length: 147, dtype: object

In [6]:
#This also works
cubs["Tm"]

0                 Chicago Cubs
1                 Chicago Cubs
2                 Chicago Cubs
3                 Chicago Cubs
4                 Chicago Cubs
                ...
142    Chicago White Stockings
143    Chicago White Stockings
144    Chicago White Stockings
145    Chicago White Stockings
146    Chicago White Stockings
Name: Tm, Length: 147, dtype: object

In [ ]:
#select multipel variables
cubs[["Year","Tm"]]

In [ ]:
#filter on rows
cubs[cubs["Year"] >= 2000]

In [ ]:
cubs['win_perc'] = cubs.W/cubs.G

max(cubs.win_perc)

cubs[cubs['win_perc'] == max(cubs.win_perc)]

In [3]:
cubs = pd.read_csv("https://raw.githubusercontent.com/menawhalen/DSCI_401/main/data/cubs_all_time.csv")
cubs.head()

,Year,Tm,Lg,G,W,L,Ties,W-L%,pythW-L%,Finish,...,Playoffs,R,RA,Attendance,BatAge,PAge,#Bat,#P,Top Player,Managers
0,2022,Chicago Cubs,NL Central,125,54,71,0,0.432,0.436,3rd of 5,...,NaN,518,596,2163550.0,28.1,29.8,57,37,N.Hoerner (4.2),D.Ross (54-71)
1,2021,Chicago Cubs,NL Central,162,71,91,0,0.438,0.421,4th of 5,...,NaN,705,839,1978934.0,29.1,29.4,69,40,W.Contreras (4.1),D.Ross (71-91)
2,2020,Chicago Cubs,NL Central,60,34,26,0,0.567,0.545,1st of 5,...,Lost NLWC (2-0),265,240,NaN,27.9,30.3,47,26,Y.Darvish (2.8),D.Ross (34-26)
3,2019,Chicago Cubs,NL Central,162,84,78,0,0.519,0.558,3rd of 5,...,NaN,814,717,3094865.0,27.7,31.1,52,33,J.Baez (6.6),J.Maddon (84-78)
4,2018,Chicago Cubs,NL Central,163,95,68,0,0.583,0.575,2nd of 5,...,Lost NLWC (1-0),761,645,3181089.0,27.2,30.2,50,35,J.Baez (6.4),J.Maddon (95-68)